<%
devices = {
  login: {
    id: 546838262,
    name: 'Leonardo In'
  },
  logout: {
    id: 541614750,
    name: 'Leonardo Out'
  }
}
 %>
 <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Weekly Report <%= @current_work_week %></h1>
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <th scope="col" class="px-6 py-3">Date</th>
    <th scope="col" class="px-6 py-3">Name</th>
    <th scope="col" class="px-6 py-3">Log In Time</th>
    <th scope="col" class="px-6 py-3">Log Out Time</th>
    <th scope="col" class="px-6 py-3">Time in Office (Minutes)</th>
    <th scope="col" class="px-6 py-3">Device</th>
    <th scope="col" class="px-6 py-3">DeviceName</th>
  </thead>
  <tbody>
    <% total_employee_hours = 0 %>
    <% @punchlog.each do |staff_logs| %>
      <% n = 0 %>
      <% total_hours = 0 %>
      <% staff_logs.each do |log| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td><%= log.bsevtdt.strftime("%A") %></td>
          <td><%= Uguser.find_by_user_id(log.user_id).staff_name %></td>
          <td>
            <% if log.devid.to_s ==  devices[:login][:id].to_s %>
              <%= log.bsevtdt %>
            <% end %>
          </td>
          <td>
            <% if log.devid.to_s ==  devices[:logout][:id].to_s %>
              <%= log.bsevtdt %>
            <% end %>
          </td>
          <td>
            <% if log.devid.to_s ==  devices[:logout][:id].to_s %>
              <%= Time.at(log.bsevtdt - staff_logs.limit(1).offset(n - 1).first.bsevtdt).utc.strftime("%H:%M") %>
            <% end %>
          </td>
          <td><%= log.devid %></td>
          <td><%= log.devnm %></td>
        </tr>
        <% if log.devid.to_s ==  devices[:logout][:id].to_s %>
          <% total_hours += ((log.bsevtdt - staff_logs.limit(1).offset(n - 1).first.bsevtdt) / 60) / 60 %>
        <% end %>
        <% n += 1 %>
      <% end %>
        <% if staff_logs.any? %>
          <tr class="font-semibold text-gray-900">
            <td>Total Hours for</td>
            <td><%= Uguser.find_by_user_id(staff_logs.first.user_id).staff_name %></td>
            <td></td>
            <td></td>
            <td>
              <%= total_hours.to_i %>:<%= ((total_hours * 60) % 60).to_i %>
              <% total_employee_hours += total_hours %>
            </td>
          </tr>
        <% end %>
    <% end %>
    <tr>
      <td>Total Hours All Employees</td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%= total_employee_hours.to_i %>:<%= ((total_employee_hours * 60) % 60).to_i %>
      </td>
    </tr>
  </tbody>
</table>
